
.A {
    background-color: red;
    
}
.t{
    color: white;
}
ul{
    color: white;
}
a{
    color: white;
}
.bk,.v,.n{
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkq4zWf9Mw2_bDY6tQC5Xq9xJ5xue6Oak8OQ&s") ; 
background-repeat: repeat;   
background-size: cover;
ba

}
.bk{
    color: white;
}
.v{
    color :white;
}
.n{
    color: white;
}
.c{
    color: blue;
}
button{
    color: rgb(8, 220, 8);
    
}